body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

.header {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  background-size: 100%;
  color: white;
  font-size: 18px;
}

#process {
  background-color: white;
}
a {
  font-size: 18px;
  color: white;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 14px;
}

.design-band {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
